<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    {{#block "styles"}}


    {{/block}}
    <title>Blooming Heaven</title>
</head>

<body>

    {{#each success_messages}}
    <div class="alert alert-success">
        {{this}}
    </div>
    {{/each}}

    {{#each error_messages}}
    <div class="alert alert-danger">
        {{this}}
    </div>
    {{/each}}


    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="#"><i class="bi bi-flower1"></i>Blooming Heaven</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="color:black; font-family:'Times New Roman', Times, serif">
                    <li class="nav-item"><a class="nav-link " aria-current="page" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Offers</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Help</a> </li>
                </ul>
            </div>

            <div>
                {{#if user}}
                <p>Hi, {{user.username}}</p>
                <a href="/cart" class="btn btn-dark btn-sm">Cart</a>
                <a href="/users/logout" class="btn btn-danger btn-sm"><i class="bi bi-person-circle"></i>Logout</a>
                {{else}}
                <a href="/users/login" class="btn btn-success btn-sm"><i class="bi bi-person-circle"></i>Log In</a>
                {{/if}}
            </div>
        </nav>
    </div>




    {{#block "content"}}
    {{/block}}

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>




    {{#block "js"}}{{/block}}
    <footer>
       
    </footer>
</body>

</html>