{{#extends "base"}}

{{#block "styles"}}
    <style>
        h1 {
            color: blue;
            font-family: Arial, sans-serif;
        }
    </style>
{{/block}}

{{#block "content"}}

<h1>Welcome to Blooming Heaven</h1>


{{/block}}
{{#block "footer"}}
    
    <footer>
        <p>&copy; 2024 My Website</p>
        
    </footer>
{{/block}}
{{/extends}}